extends ../layout.pug

block title
  | #{t('newTaskTitle')}

block content
  .row.justify-content-center
    .col-12.col-md-8
      form(action="/tasks" method="post")
        .form-floating.mb-3
          input.form-control(
            class=errors && errors.name ? 'is-invalid' : ''
            id="name"
            name="name"
            value=data && data.name || ''
            placeholder=t('taskName')
            type="text"
          )
          if errors && errors.name
            .invalid-feedback.form-control-feedback #{errors.name[0]}
          label(for="name") #{t('taskName')}
        .mb-3
          label.form-label(for="description") #{t('taskDescription')}
          textarea.form-control(
            id="description"
            name="description"
            rows="3"
          ) #{data && data.description || ''}
        .mb-3
          label.form-label(for="statusId") #{t('taskStatus')}
          select.form-select(
            class=errors && errors.statusId ? 'is-invalid' : ''
            id="statusId"
            name="statusId"
          )
            option(value="") ---
            each status in statuses
              option(value=status.id selected=(data && String(data.statusId) === String(status.id))) #{status.name}
          if errors && errors.statusId
            .invalid-feedback #{errors.statusId[0]}
        .mb-3
          label.form-label(for="executorId") #{t('taskExecutor')}
          select.form-select(
            id="executorId"
            name="executorId"
          )
            option(value="") ---
            each user in users
              option(value=user.id selected=(data && String(data.executorId) === String(user.id))) #{user.fullName}
        .mb-3
          label.form-label(for="labelIds") #{t('taskLabels')}
          select.form-select(
            id="labelIds"
            name="labelIds"
            multiple
          )
            each label in labels
              option(value=label.id) #{label.name}
        input.btn.btn-primary(type="submit" value=t('create'))
