extends ../layout.pug

block title
  | #{t('editStatusTitle')}

block content
  .row.justify-content-center
    .col-12.col-md-6
      form(action=`/statuses/${status.id}` method="post")
        input(type="hidden" name="_method" value="PATCH")
        .form-floating.mb-3
          input.form-control(
            class=errors && errors.name ? 'is-invalid' : ''
            id="data_name"
            name="name"
            value=data && data.name || ''
            placeholder=t('statusName')
            type="text"
          )
          if errors && errors.name
            .invalid-feedback.form-control-feedback #{errors.name[0]}
          label(for="data_name") #{t('statusName')}
        input.btn.btn-primary(type="submit" value=t('editButton'))
